@model CmsA.Web.Models.Pages.PageIndexVM
<h3 class="m-3 mb-4">Pages</h3>
<div class="row">
    <div class="col-md-12 grid-margin">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table id="order-listing" class="table">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th class="float-right">#</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var Page in Model.Pages)
                            {
                            <tr>
                                <td>
                                        @Page.Name
                                </td>



                                <td>
                                    <a class="float-right m-1" href="@Url.Action("Update", "Page",new { id = Page.Id})"><i class="fas fa-pencil-alt"></i></a>
                                    <a class="float-right" href="@Url.Action("Delete", "Page",new { id = Page.Id})"><i class=" fas fa-trash"></i></a>
                                    <a class="float-right m-1" href="@Url.Action("Index", "Info",new { Pageid = Page.Id})"><i class="fas fa-stream"></i></a>
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>