.postPadding {
    padding-bottom: 75px !important;
    padding-top: 75px !important;
}

.pagePadding {
    padding-bottom: 28px !important;
    padding-top: 28px !important;
    background: #070c39;
}
.bg-gray {
    background: #f2f4f8 !important;
}

.postChilde {
    height: 250px;
    object-fit: cover;
}
@media screen and (max-width: 500px)  {
    .hide{
        display:none !important;
    }
}

@media screen and (max-width: 500px) {
    .m-fs {
        font-size: 14px !important;
        padding-top: 3px !important;
    }
}

.mdText * {
    font-size: 14px !important;
    color: #3a3a3a !important;
    line-height: 20px;
    font-weight: 400;
}


.al-b20 {
    position: absolute;
    bottom: 20px;
}

.he-200 {
    height: 310px;
}
