.postPadding {
    padding-bottom: 75px !important;
    padding-top: 75px !important;
}
.bg-gray {
    background: #f2f4f8 !important;
}

.postChilde {
    height: 250px;
    object-fit: cover;
}
@media screen and (max-width: 500px)  {
    .hide{
        display:none !important;
    }
}

@media screen and (max-width: 500px) {
    .m-fs {
        font-size: 14px !important;
        padding-top: 3px !important;
    }
}
